{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>winx</title>

  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href={%static "vendor/fontawesome-free/css/all.min.css"%} rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href={%static "vendor/simple-line-icons/css/simple-line-icons.css"%} rel="stylesheet">

  <!-- Custom CSS -->
  <link href={%static "css/stylish-portfolio.min.css"%} rel="stylesheet">

</head>

<body id="page-top">
  

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">winx</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">Advertising</a>
      </li>
     
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Plot</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
	  </li>
	  <li class = "sidebar-nav-item">
	    <a class="js-scroll-trigger" href="">maia bee</a>
	  </li>
	  <li class = "sidebar-nav-item">
	    <a class = "js-scroll-trigger" href="other1/">luntik</a>
	  </li>
	  <li class = "sidebar-nav-item">
	    <a class = "js-scroll-trigger" href="other2/">SpongeBob</a>
	  </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1",action = 'center'>WINX</h1>
      <h2 class="mb-5",action  = 'center'>
        <em>who are winx</em>
      </h2>
    </div>
	<h2>Winx Club is a fantastic animated series produced by Rainbow S.r.l.,
	designed by the Italian animator Iginio Straffi [1]. The premiere took place on January 28,
	2004 in Italy on the Rai 2 channel. Go to the section "# Television Output".
	The action takes place in a universe filled with magic, fictional planets and mythical creatures. 
	The storyline of the animated series is based on the story of a young girl,
	Bloom, her quest for the truth about her past and what happened to her home planet and real parentsGo to the section
	"#Characters and world of the series."
	</h2>
	<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">NEXT ADVERTISING</a>
	<a class="btn btn-primary btn-xl js-scroll-trigger" href="#page-top">home</a>
    <div class="overlay"></div>
	
	
	
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2 action = 'center'>typical Mayan bee parody</h2>
          <p class="lead mb-5">don't watch
		    <iframe width="400" height="406" src="https://www.youtube.com/embed/bBZkGwzZcs4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		  <a class="btn btn-primary btn-xl js-scroll-trigger" href="#page-top">home</a>
		  
        </div>
      </div>
    </div>
  </section>
  <!-- Callout -->
  <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5",action = 'center'>did you watch winx or read? NO then follow the link below</h2>
      <a class="btn btn-primary btn-xl" href="https://www.youtube.com/watch?v=76WxuRGThsQ&list=PLlYTGT_q3amPZMM_h7EVEiSktndfTyfsg">DowNloAd Maya On Your Pc!</a>
	  <a href="#about" class="btn btn-primary btn-xl js-scroll-trigger">back</a>
	  <a href="#portfolio" class="btn btn-primary btn-xl js-scroll-trigger">next</a>
	  <a class="btn btn-primary btn-xl js-scroll-trigger" href="#page-top">home</a>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <h1 class="text-secondary mb-0",action = 'center'>Plot</h1>
    <h2>The sixteen-year-old earthly girl Bloom meets the magical Stella.
	Arriving in Alphea - a school for children located in the dimension of Magix 
	(otherwise known as the Magic Dimension), Bloom learns about the existence of
	specialist schools (young men who master magical martial arts) and witch schools [2].
	Faced with the aggression of three witches, calling themselves Trix, Bloom and his friends
	formed the Winx Club team to fight evil together [3]. Winx Club girls are paired with boys 
	from specialist schools [4]: ??Bloom and Prince Sky, Stella and Brandon, Muse and Riven, Tecna and Timmy.</h2> 	
  </section>
  <a class="btn btn-primary btn-xl js-scroll-trigger" href="#page-top">home</a>
  

  <!-- Call to Action -->
  <section class="content-section bg-primary text-white">
    <div class="container text-center">
      <h2 class="mb-4",action = 'center'>The buttons below are impossible to resist...</h2>
      <a href="#portfolio" class="btn btn-primary btn-xl js-scroll-trigger">back</a>
      <a href="#contact" class="btn btn-primary btn-xl js-scroll-trigger">next</a>
    </div>
  </section>

  <!-- Map -->
  <section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small>
      <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
	  
	  
	  
	  <a class="btn btn-primary btn-xl js-scroll-trigger" href="#page-top">home</a>
    </small>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-black mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-black mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-black" href="#">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>
  <a class="btn btn-primary btn-xl js-scroll-trigger" href="#page-top">home</a>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src={%static "vendor/jquery/jquery.min.js"%}></script>
  <script src={%static "vendor/bootstrap/js/bootstrap.bundle.min.js"%}></script>

  <!-- Plugin JavaScript -->
  <script src={%static "vendor/jquery-easing/jquery.easing.min.js"%}></script>

  <!-- Custom scripts for this template -->
  <script src={%static "js/stylish-portfolio.min.js"%}></script>

</body>
